.mplayer {
    margin: 1rem;
    padding: 0.5rem;
    width: 28rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF;
    border-bottom: 1px solid #EEEEEE;
    background: #FCFCFC;
    font-family: 'Arial';
}

.mplayer-control {
    position: relative;
    display: inline-block;
    margin-left: 6.5rem;
    width: 21.5rem;
    height: 6rem;

    a {
        display: inline-block;
        text-decoration: none;
        color: #565656;
        transition: color 0.3s;

        &:hover {
            color: #111111;
        }
    }
}

.mplayer-current {
    color: #4C9CFF !important;
}

.mplayer-playlist {
    display: none;
    margin-top: 1rem;
    padding: 1rem 0.5rem;
    border-top: 1px solid #EEEEEE;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        border-top: 1px solid #CCCCCC;
        &:nth-child(odd) {
            background: #EEEEEE;
        }
        &:last-child {
            border-bottom: 1px solid #CCCCCC;
        }
    }

    a {
        display: block;
        padding: 0.3rem 0;
        color: #555555;
        text-decoration: none;
        transition: color 0.3s;
        &:hover {
            color: #111111;
        }
    }
}

.mplayer-list {
    position: absolute;
    top: 0;
    right: 0;
}

.mplayer-cover {
    position: absolute;
    width: 6rem;
    height: 6rem;
    display: inline-block;
}

.mplayer-artist, .mplayer-title {
    height: 0.9rem;
    margin: 0.3rem 0rem;
    font-size: 0.9rem;
    overflow: hidden;
}

.mplayer-progress, .mplayer-volume {
    position: relative;
    display: inline-block;
    height: 0.3rem;
    background: #EEEEEE;
    cursor: pointer;
}

.mplayer-progress {
    margin: 0.3rem 0;
    width: 100%;
}

.mplayer-played-time, .mplayer-volume-value {
    position: absolute;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 100%;
    background: #4C9CFF;
}

.mplayer-volume {
    margin: 0.3rem;
    width: 4rem;
}

.mplayer-volume-value {
    width: 3.2rem;
}

.mplayer-time {
    position: absolute;
    top: 3.5rem;
    right: 0;
    font-size: 0.8rem;
    color: #666666;
}

.mplayer-btn-play, .mplayer-btn-prev, .mplayer-btn-next, .mplayer-btn-pause {
    margin-right: 0.5rem;
    font-size: 2rem;
}

.mplayer-btn-shuffle, .mplayer-btn-noloop, .mplayer-btn-single, .mplayer-btn-all {
    float: right;
    margin: 1rem 0 0 1rem;
}

.mplayer-btn-single {
    color: #147DFF !important;
}

.mplayer-btn-all {
    color: #E82528 !important;
}

.mplayer-btn-active {
    color: #4C9CFF !important;
}

.icon-artist:before, .icon-track:before {
    margin-right: 0.4rem;
}